<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />

  <title>Welcome to Turbo 360</title>
  <form action="/register/user" method="POST">
<input type="text" name="name" placeholder="Name"  /><br />
<input type="text" name="occupation" placeholder="Occupation"  /><br />
<input type="submit" value="sign up"   />
</form>
</head>

<body>
  <div id="root"></div>

  <script type="text/javascript" src="https://cdn.turbo360-dev.com/admin/assets/scaffold/js/vendor.min.js"></script>

</body>
</html>
