<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.css"  type="text/css" />
    <link rel="stylesheet" href="/css/style.css"  type="text/css" />

</head>

<body class="container">

<h1>{{name}}</h1>
<img src="{{image}}"/>
<h2>company:{{company}}</h2>
<h3>languages:</h3>
<ol>

    {{#languages}}
    <li>
    {{.}}
    </li>
    {{/languages}}
</ol>

<form action="/addprofile" method="POST">
<input type="text" name="name" placeholder="Name"/><br/>
<input type="text" name="username" placeholder="username"/><br/>
<input type="text" name="image" placeholder="image"/><br/>
<input type="text" name="company" placeholder="company"/><br/>
<input type="text" name="languages" placeholder="languages"/><br/>
<input type="Submit" value="add profile"  />

</form>

</body>

</html>